form {
    flex: 1;
    padding: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    height: 40px;
}

.form-group input[type="submit"] {
    cursor: pointer;
    background-color: rgb(0, 90, 90);
    color: white;
    border: none;
}